/*DO NOT ADD ANY CODE HERE*/
.center_plot {
    margin: auto;
    text-align: center;
}

.section {
    text-align: center;
}

 
div.tooltip{
position: absolute;
text-align: center;
width: "fit-content";
height: "fit-content";
padding: 5px;
background: white;
pointer-events: none;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-2px); }
    40% { transform: translateX(2px); }
    60% { transform: translateX(-2px); }
    80% { transform: translateX(2px); }
    100% { transform: translateX(0); }
}

@keyframes wave {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
body {
    margin: 0;
    padding: 0;
    background-color:moccasin;
    background-image: url("boba-background.jpeg");
    background-repeat: repeat;
    overflow-x: hidden;
}

h2 {
    font-family: Marker Felt;
    font-weight: bold;
    font-size: 50px;
    position: relative;
    top: 25px;
    color: white;
    -webkit-text-stroke: 3px black;
}

#q1_all {
    background-color: #ccae88;
}

#q2_all {
    background-color: #e5c4f9;
}

#q3_all {
    background-color: #b0ce84;
}

#q4_all {
    background-color: #FFB3C6;
}
#q5_all {
    background-color: #ffb467;
}

#radio_q3 {
    position: relative;
    top: 250px;
    left: 500px;
}